.title {
    justify-content: center;
    text-align: center;
}

.ContactItem {
    border: 1px solid black;
    margin: 5px;
}

.SearchBox {
    margin-bottom: 10px;
}

.ContactCrousel{
    border: 1px solid red;

}

.InfoItem{
    color:white;
}

